.fightDisplay
{
    width: 100vw;
    height: 80vh;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

#p1NameDisplay, #p1HealthDisplay, #p2NameDisplay, #p2HealthDisplay, #announcer
{
    text-align: center;
}

.left, .right
{
    width: 50vw;
    margin: auto;
}

.p1MoveButtons, .p2MoveButtons, .menuButtons
{
    justify-content: center;
    display: flex;
}

/* .p1Circle {
    display: inline-flex;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    margin: 0;
    z-index: -1;
    background: radial-gradient(circle at 100px 100px, #5cabff, #3200e4);
  } */