.fightDisplay
{
    width: 100vw;
    height: 80vh;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

#p1NameDisplay, #p1HealthDisplay, #p2NameDisplay, #p2HealthDisplay, #announcer
{
    text-align: center;
}

.left, .right
{
    width: 50vw;
    margin: auto;
}

.p1MoveButtons, .p2MoveButtons, .menuButtons
{
    justify-content: center;
    display: flex;
}

.p1Circle
{
    background: radial-gradient(circle at 100px 100px, #5cabff, #3200e4);
}

.p2Circle
{
    background: radial-gradient(circle at 100px 100px, #eb434b, #750010);
}

.p1Circle, .p2Circle 
{
    display: inline-flex;
    border-radius: 50%;
    height: 50vh;
    width: 50vh;
    margin: auto;
    z-index: -1;
}